.container {
  text-align: center;
  top: 0;
  left: 0;
  height: 100%;
  background: #000;
}

.pdf {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

canvas {
  margin-left: auto;
  margin-right: auto;
}

.pages {
  text-align: center;
}